<form>
    <label for="name">Name</label>
    <input id="name" name="name" type="text"/>

    <label for="message">Message:</label>
    <textarea id="message" name="message"></textarea>

    <input type="submit"/>
</form>